* {
  text-align: center;
  color: white;

}

h1 {
  font-family: 'Dancing Script', cursive;
}

#menus {
  font-family: 'Great Vibes', cursive;
}

#price {
  display: none;
  font-family: 'Sacramento', cursive;
}
body {
  background-image: url(../images/osiri.jpg);
}
